#map {
    height: 100%;
    width: 80%;
    float: left;
}
#info-panel{
    height: 100%;
    width: 20%;
    float: right;
    background-color: #333;
    text-align: center;
}
#info-wrap{
    height: 80%;
    width: 80%;
    margin: auto;
}
p, h1, hr{
    color: #eee;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Css för mobiler */
@media only screen and (max-width: 600px){
    #map {
        height: 100%;
        width: 100%;
    }
    #info-panel{
        height: 100%;
        width: 100%;
        background-color: #333;
        text-align: center;
    }
    #info-wrap{
        height: 100%;
        width: 100%;
        margin: auto;
    }
    #srch {
        width: 94% !important;
    }
}



.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#srch {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#srch:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
#target {
    width: 345px;
}

.infoTitle{
    text-align: center;
    color: #ededed;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
}

.infoSubtext{
    color: #c1c1c1;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 15px;
}
